{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>
            REGISTER
        </title>
        <link rel ="stylesheet" type "text/css" href = "{% static 'styles.css' %}">
    </head>
    <body>
        <h1 class = "heading">Create an Account</h1>
        <div class = "container">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class = "bu3">
                    SUBMIT
                </button>
            </form>
        </div>
    </body>
</html>